.wrapper-modal {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, .71);
  display: flex;
  justify-content: center;
}

.presentation {
  z-index: 1200;
  position: absolute;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  z-index: 1000;
  color: white;
  font-size: 25px;
}

.modal-back {
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
  z-index: 1000;
  color: white;
  font-size: 30px;
}

.modal {
  position: relative;
  max-width: 800px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2),
              0px 8px 8px 0px rgba(0, 0, 0, .14),
              0px 1px 14px 0px rgba(0, 0, 0, .12);
  background-color: #111;
  overflow: hidden;
  border-radius: 8px;
  transition: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal__poster-img {
  width: 100%;
  height: auto;
}

.modal__play-button {
  position: absolute;
  width: 100px;
  height: 100px;
  object-fit: contain;
  z-index: 1000;
  top: 152px;
  right: 345px;
  cursor: pointer;
}

.modal__content {
  padding: 40px;
  color: white;
}

.modal__title {
  padding: 0;
  font-size: 40px;
  margin: 16px 0;
}

.modal__details {
  font-weight: 600;
  font-size: 18px;
}

.modal__user_perc {
  color: #00b15e
}

.modal__overview {
  font-size: 20px;
  line-height: 1.5;
}

.modal::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

@media screen and (max-height: 768px) {
  .wrapper-modal {
    align-items: unset;
    padding-top: 2rem;
  }

  .modal {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .modal__overview,
  .modal__details {
    font-size: 16px;
  }

  .wrapper-modal {
    padding: 0;
  }

  .modal {
    overflow-y: scroll o !important;
  }
}